<h1>Thanks for booking a flight through FlightBooker.com, <%= @user.name %></h1>
<p>
  You have booked this flight: from <%= @flight.departure_airport.code %> to <%= @flight.arrival_airport.code %>.
</p>
<p>
  The flight takes place on <%= @flight.start.strftime('%B %d, %Y') %> (duration: <%= @flight.duration %>).
</p>

<p>If you have any problems, contact us with this Flight ID: <strong> <%= @flight.id %> </strong>.</p>

<p>Thanks for flying with us. Have a great day!</p>
