<h1>Flight Booker</h1>

<%= form_with url: flights_path, method: :get, local: true do |form| %>
  <div>
    <%= form.label :departure_airport_id, 'From:' %>
    <%= form.collection_select :departure_airport_id, @airports, :id, :code, { include_blank: 'Select departure airport', selected: params[:departure_airport_id] } %>
  </div>

  <div>
    <%= form.label :arrival_airport_id, 'To:' %>
    <%= form.collection_select :arrival_airport_id, @airports, :id, :code, { include_blank: 'Select arrival airport', selected: params[:arrival_airport_id] } %>
  </div>

  <div>
    <%= form.label :num_passengers, 'Number of passengers:' %>
    <%= form.select :num_passengers, (1..4).to_a, { selected: 1, selected: params[:num_passengers] } %>
  </div>

  <div>
    <%= form.label :start, 'Date:' %>
    <%= form.select :start,
                        options_for_select(@available_dates.map { |date| [date.strftime('%B %d, %Y'), date] }, params[:start]),
                        { include_blank: 'Select a date'} %>
  </div>

  <%= form.submit 'Search Flights' %>
<% end %>

<% if @flights.any? %>
  <h2>Available Flights</h2>

  <%= form_with url: new_booking_path, method: :get, local: true do |form| %>
    <%= form.hidden_field :num_passengers, value: params[:num_passengers] %>

    <% @flights.each do |flight| %>
      <div>
        <%= form.radio_button :flight_id, flight.id %>
        <%= form.label "Flight_id: #{flight.id}" do %>
          <strong><%= flight.departure_airport.code %></strong> to <strong><%= flight.arrival_airport.code %></strong>
          (date: <%= flight.start.strftime('%B %d, %Y') %>).
          Duration: <%= flight.duration %> minutes
      <% end %>
      </div>
    <% end %>

    <%= form.submit 'Select Flight' %>
  <% end %>
<% elsif search_params_present? %>
  <p><strong>No flights available for your selected criteria.</strong></p>
  <p>Try searching again with different criteria.</p>
<% end %>
