<h1>New Booking</h1>

<h2>Flight Details</h2>
<p>From: <strong> <%= @flight.departure_airport.code %> </strong></p>
<p>To: <strong> <%= @flight.arrival_airport.code %> </strong></p>
<p>Date: <strong> <%= @flight.start.strftime('%B %d, %Y') %> </strong></p>
<p>Flight ID: <strong> <%= @flight.id %> </strong></p>

<h2>Passenger Information</h2>

<%= form_with model: @booking, local: true, data: { controller: "nested-form" } do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>

  <div data-nested-form-target="container">
    <%= form.fields_for :passengers do |passenger_form| %>
      <div data-nested-form-target="passenger">
      <%= passenger_form.hidden_field :_destroy if passenger_form.object.persisted? %>
      <%= passenger_form.label :name, 'Passenger Name:' %>
      <%= passenger_form.text_field :name %>
      <button type="button" data-action="click->nested-form#removePassenger">
        Remove Passenger
      </button>
      </div>
    <% end %>
  </div>

  <template data-nested-form-target="template">
    <div data-nested-form-target="passenger">
      <%= form.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |passenger_form| %>
        <%= passenger_form.label :name, 'Passenger Name:' %>
        <%= passenger_form.text_field :name %>
        <button type="button" data-action="click->nested-form#removePassenger">
          Remove Passenger
        </button>
      <% end %>
    </div>
  </template>

  <button type="button" data-action="click->nested-form#addPassenger">
    Add Passenger
  </button>

  <%= form.submit 'Book Flight' %>
<% end %>
